// color
$black: #000
$white: #fff

$white-min: #fafafa
$grey-light: #dedede
$grey: #888
$grey-dark: #2e2e2e

$yellow: #fdffab
$tosca: #a8e6cf
$pink: #ffd3b6

$green: #4ef037

$theme: $tosca
$ok: $green

// font
$font-family: Roboto, "Segoe UI", "open sans", arial, sans-serif
// class
$browsers: '', '-o-', '-ms-', '-moz-', '-webkit-'
=transitions ($sec)
	@each $browser in $browsers
		#{$browser}transition: all $sec ease
=borderradius ($radius: 50%)
	@each $browser in $browsers
		#{$browser}border-radius: $radius
=centery
	-webkit-box-align: center !important
	-webkit-align-items: center !important
	-ms-flex-align: center !important
	align-items: center !important
=squareicon ($size)
	width: $size
	height: $size
	line-height: $size
	text-align: center
=columns ($columns: 4, $gap: 16px)
	@each $browser in $browsers
		#{$browser}column-count: $columns
		#{$browser}column-gap: $gap
=clearfix
	content: ""
	display: block
	clear: both
	float: none
=boxsizing
	box-sizing: border-box
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
=mixbutton($color)
	color: $grey-dark
	background-color: $color
	&:hover, &:active, &:focus
		background-color: darken($color, 5%)
=aspectratio($width, $height)
	position: relative
	&:before
		display: block
		content: ""
		width: 100%
		padding-top: ($height / $width) * 100%
	> .mask
		+absolutecenter
=dimension($width, $height)
	width: $width
	height: $height
	line-height: $height
	text-align: center
=absolutecenter
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	margin: auto
=shadow($color: rgba(255,255,255,.168))
	@each $browser in $browsers
		#{$browser}box-shadow: 0 2px 1px 1px $color
=materialicons
	text-align: center
	font-family: 'Material Icons'
	font-weight: normal
	font-style: normal
	line-height: 1
	letter-spacing: normal
	text-transform: none
	white-space: nowrap
	word-wrap: normal
	direction: ltr
	-moz-font-feature-settings: 'liga'
	-moz-osx-font-smoothing: grayscale
// keyframes mixin
=keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@-ms-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content
// use of keyframes mixin
+keyframes(moving)
	0%
		left: 100px
	50%
		left: 80px
	100%
		left: 100px
+keyframes(updown)
	0%
		bottom: 20px
	80%
		bottom: 80px
	100%
		bottom: 20px
+keyframes(rotate)
	0%
		transform: rotate(0deg)
	80%
		transform: rotate(240deg)
	90%
		transform: rotate(360deg)

// container
.full-width
	width: 100%
.container
	width: 100%
	padding: 16px

// quick fix
// grid fix
.hidden
	display: none
.small-hidden
	@media(max-width: 960px)
		display: none !important
.large-hidden
	@media(min-width: 961px)
		display: none !important
.overflow-hidden
	overflow: hidden
.center-y
	+centery
.center
	text-align: center
.align-left
	text-align: left
.align-right
	text-align: right	
.self-center, .centered
	margin: 0 auto
.left
	float: left
.right
	float: right

// quick fix
.icon-right
	position: absolute
	right: 40px
	margin-top: 2px
	color: lighten($grey, 5%)
.half-container
	width: 100%
	@media(min-width: 961px)
		width: 50%
.float-action
	position: fixed
	@media(min-width: 961px)
	@media(max-width: 960px)
		bottom: 0
		left: 0

.ellipsis
	text-overflow: ellipsis
	/* Required for text-overflow to do anything */
	white-space: nowrap
	overflow: hidden

// mixed components default styling
*, *:before, *:after
	box-sizing: border-box
html, body
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
	font-family: $font-family
	background-color: $white-min
	padding: 0
	margin: 0
	font-size: 20px
	color: $grey-dark
a
	text-decoration: none
	color: inherit
	&:hover, &:active, &:focus, &:visited
		color: inherit
	&.button
		// padding: 4px 8px
		font-size: 16px
	&.disabled
		color: $grey
		cursor: not-allowed
ul
	list-style: none
	padding-left: 0
ul, li, a, input, input ~ label, button, select
	+transitions(.3s)
input[type="radio"], input[type="submit"], input[type="checkbox"], a
	cursor: pointer
	& ~ label
		cursor: pointer
i
	+materialicons
.button
	+borderradius(20px)
	text-align: center
	display: inline-block
	margin-bottom: 4px
	cursor: pointer
	&.theme
		+mixbutton($theme)
	&.pink
		+mixbutton($pink)
	&.yellow
		+mixbutton($yellow)
.inverse
	color: $grey
	background-color: $white
	border: 1px solid $grey
	&:hover, &:active, &:focus, &.active
		color: $white
.clear
	+clearfix

// columns
.columns
	display: flex
	.column
		display: block
		flex-basis: 0
		flex-grow: 1
		flex-shrink: 1
		+columns(2)

// form styling
.form-default
	font-size: 16px
	hr
		width: 100%
		border-top: 1px solid $grey-light
	fieldset
		width: 100%
		display: block
		border: 0
		padding: 0
		margin-bottom: 12px
	> label
		display: block
		// vertical-align: top
		text-transform: capitalize
		line-height: 36px
		span
			font-weight: 500
			display: inline-block
			padding: 2px 16px
			margin: 4px
			border-bottom: 2px solid $theme
			background-color: lighten($theme, 18%)
			&.imp
				border-bottom: 2px solid $pink
				background-color: lighten($pink, 8%)
	select, input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], textarea
		border: 1px solid darken($grey-light, 10%)
		padding: 6px 12px
		+borderradius(16px)
		display: block
		width: 100%
		margin-bottom: 6px
		&:hover, &:active, &:focus
			border-color: $theme
	textarea
		resize: none
		height: 108px
		+borderradius(16px)
		width: 100%
		font-family: $font-family
	select
		cursor: pointer
	select.multiple
		height: auto
	input[type="submit"], input[type="reset"], button
		display: inline-block
		border: 0
		padding: 5px 8px
		font-size: 16px
	input[type=number]::-webkit-inner-spin-button
		-webkit-appearance: none
		cursor: pointer
		display: block
		width: 8px
		color: #333
		text-align: center
		position: relative
	input[type=number]
		-moz-appearance: textfield
	small
		font-size: 12px
		text-transform: uppercase
		display: block
		line-height: 16px
		margin: -8px 0 8px
		color: $grey
	.button.form
		width: 100%
		margin: 8px 0
	span.info
		display: block
		font-weight: 500
		line-height: 28px
		&:last-child
			margin-bottom: 12px
.checklist
	label
		cursor: pointer
		display: block
		padding: 8px 0
		margin: 4px 0
		i
			+transitions(.3s)
			color: $grey-light
			float: left
			margin-right: 8px
		input[type="checkbox"]
			display: none
			&:checked
				~
					i
						color: $ok
.linklist
	a
		display: block
		padding: 16px
		border: 1px solid $theme
		border-bottom: 0
		&:last-child
			border-bottom: 1px solid $theme
		&:hover, &:active, &:focus
			+shadow()
			background-color: $theme
.input_fields_wrap
	margin-right: 40px
	> div
		position: relative
		i.remove_field
			cursor: pointer
			position: absolute
			padding: 4px
			right: -32px
			top: 4px
i.between
	padding: 4px
	color: $grey-light
// main
// header
#user-profile
	display: none
	&:checked
		~
			.side-menu
				z-index: 89
				left: 0
	@media(min-width: 721px)			
		&:checked
			~
				.side-menu
					right: 0
					left: auto
					.base-layer
						opacity: 1
label.user-profile
	margin: 0
	padding-right: 48px
	position: fixed
	top: 16px
	right: 16px
	left: 16px
	width: 100%
	z-index: 89
	+borderradius(20px)
	@extend .ellipsis
	.user-profile-img
		+dimension(40px, 40px)
		+borderradius()
		background-color: $theme
		display: inline-block
		overflow: hidd
	.user-profile-name
		font-size: 16px
		line-height: 40px
	@media(min-width: 721px)
		padding-right: 16px
		background-color: lighten($theme, 17%)
		margin: 4px 16px
		width: auto
		top: 0
		right: 0
		left: auto
// right side menu
.side-menu
	width: 100%
	position: fixed
	top: 64px
	left: -720px
	bottom: 0
	padding: 16px 0
	background-color: $white-min
	z-index: -1
	a
		display: block
		padding: 8px 16px
		&:hover, &:active, &:focus
			color: $theme
	hr
		margin: 16px
		border-color: $grey-light
	@media(min-width: 721px)
		text-align: center
		width: 360px
		left: auto
		right: -360px
.base-layer
	+transitions(.77s)
	position: fixed
	top: 0
	left: 0
	right: 360px
	bottom: 0
	background-color: rgba(0,0,0,0.08)
	opacity: 0
header
	height: 68px
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	z-index: 88
	+shadow()
	nav
		padding: 4px 16px
		.button
			i, span
				+dimension(auto, 40px)
				min-width: 40px
				float: left
			span
				margin-right: 16px
				display: none
	@media(min-width: 721px)
		// background-color: $white-min
		top: 0
		height: 50px
		nav	.button
			i, span
				display: inline-block
footer
	&.notice
		background-color: $theme
		display: block
		position: absolute
		bottom: 0
		left: 0
		right: 0
		padding: 32px
		h1
			margin: 0
			height: 44px
// main body
.main
	// padding-top: 50px
	position: fixed
	top: 68px
	left: 0
	right: 0
	bottom: 0
	overflow-y: auto
	.container
		position: relative
		padding: 16px
		&:last-child
			margin-bottom: 50px
	.section-title
		text-transform: uppercase
		color: $grey-dark
		font-size: 16px
		font-weight: 500
	@media(min-width: 721px)
		bottom: 0
		top: 50px

// quick fix for DataTable
table
	font-size: 16px
	&.display
		margin-bottom: 8px !important
	p
		margin: 0
	tr, td, th
		vertical-align: middle
	.button.theme
		padding: 4px 16px
		i
			float: left
			font-size: 16px
			margin-right: 8px
#table-document, #table-templates, #table-users
	&_wrapper
		padding-top: 16px
		font-size: 16px
	// remove show entry filter
	&_filter
		float: left
		input[type="search"]
			+boxsizing
			+borderradius(20px)
			padding: 6px 12px
			border: 1px solid $theme
	&_paginate, &_info
		font-size: 12px
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
	background: none !important
	border: 1px solid $theme !important
	+borderradius(16px)
.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active
	// color: $white !important
	background: $theme !important
	border: 1px solid $theme !important
	+borderradius(16px)
.dataTables_wrapper .dataTables_paginate .paginate_button
	+borderradius()


// LOGIN PAGE

.login
	background-color: $theme
	display: block
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	.container
		position: relative
		width: 100%
		max-width: 640px
		margin: 100px auto 0
		padding-top: 48px
		background-color: $white
		@media(min-width: 641px)
			+borderradius(30px)
		.iconic
			color: $grey
			font-size: 64px
			padding: 16px
			+borderradius(50%)
			position: absolute
			background-color: $white
			border: 5px solid $theme
			top: -64px
			text-align: center
			left: 50%
			margin-left: -50px
	.button
		display: block
		padding: 8px 16px
		margin: 16px 0 32px
	footer
		text-align: center
		color: $grey
		letter-spacing: 4px
		margin-top: 24px
		font-size: 13px
		content: "Powered by YeonTheme"

// forbidden
.go-back
	.face
		+absolutecenter
		+transitions(.3s)
		+borderradius()
		background-color: $yellow
		color: $grey-dark
		padding: 0
		line-height: 128px
		height: 128px
		width: 128px
		&:hover, &:focus, &:active
			color: $black
			background-color: darken($yellow, 5%)
		i
			font-size: 160px
			&:after
				position: absolute
				content: "face"
				margin: -16px 0 0 -16px
	.palm
		+absolutecenter
		color: darken($pink, 24%)
		z-index: 2
		font-size: 64px
		width: 64px
		height: 64px
		line-height: 64px
		-webkit-animation: moving 14s linear infinite
		-moz-animation: moving 14s linear infinite
		-o-animation: moving 14s linear infinite
		i
			font-size: 64px
			&:after
				position: absolute
				content: "pan_tool"
				margin: 48px 0 0 -16px
	.text
		position: absolute
		top: 50%
		left: 0
		right: 0
		text-align: center
		span
			margin-top: 80px
			display: inline-block
	.ninja
		+transitions(.3s)
		+borderradius()
		background-color: $yellow
		color: $grey-dark
		padding: 0
		line-height: 128px
		height: 128px
		width: 128px
		position: absolute
		bottom: 20px
		-webkit-animation: updown 3.5s linear infinite
		-moz-animation: updown 3.5s linear infinite
		-o-animation: updown 3.5s linear infinite
		&:hover, &:focus, &:active
			color: $black
			background-color: darken($yellow, 5%)
		i
			font-size: 160px
			&:after
				position: absolute
				content: "face"
				margin: -16px 0 0 -16px
	.later
		+absolutecenter
		+transitions(.3s)
		color: $grey-dark
		line-height: 88px
		height: 88px
		width: 88px
		i
			font-size: 120px
			&:after
				position: absolute
				content: "hourglass_empty"
				margin: -16px 0 0 -16px