.full-width {
  width: 100%; }

.container {
  width: 100%;
  padding: 16px; }

.hidden {
  display: none; }

@media(max-width: 960px) {
  .small-hidden {
    display: none !important; } }
@media(min-width: 961px) {
  .large-hidden {
    display: none !important; } }
.overflow-hidden {
  overflow: hidden; }

.center-y {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.self-center, .centered {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.icon-right {
  position: absolute;
  right: 40px;
  margin-top: 2px;
  color: #959595; }

.half-container {
  width: 100%; }
@media(min-width: 961px) {
  .half-container {
    width: 50%; } }
.float-action {
  position: fixed;
  @media(min-width: 961px); }
@media(max-width: 960px) {
  .float-action {
    bottom: 0;
    left: 0; } }
.ellipsis, label.user-profile {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Roboto, "Segoe UI", "open sans", arial, sans-serif;
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: #2e2e2e; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover, a:active, a:focus, a:visited {
    color: inherit; }
  a.button {
    font-size: 16px; }
  a.disabled {
    color: #888;
    cursor: not-allowed; }

ul {
  list-style: none;
  padding-left: 0; }

ul, li, a, input, input ~ label, button, select {
  transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease; }

input[type="radio"], input[type="submit"], input[type="checkbox"], a {
  cursor: pointer; }
  input[type="radio"] ~ label, input[type="submit"] ~ label, input[type="checkbox"] ~ label, a ~ label {
    cursor: pointer; }

.button {
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin-bottom: 4px;
  cursor: pointer; }
  .button.theme {
    color: #2e2e2e;
    background-color: #a8e6cf; }
    .button.theme:hover, .button.theme:active, .button.theme:focus {
      background-color: #94e0c4; }
  .button.pink {
    color: #2e2e2e;
    background-color: #ffd3b6; }
    .button.pink:hover, .button.pink:active, .button.pink:focus {
      background-color: #ffc49d; }
  .button.yellow {
    color: #2e2e2e;
    background-color: #fdffab; }
    .button.yellow:hover, .button.yellow:active, .button.yellow:focus {
      background-color: #fcff92; }

.inverse {
  color: #888;
  background-color: #fff;
  border: 1px solid #888; }
  .inverse:hover, .inverse:active, .inverse:focus, .inverse.active {
    color: #fff; }

.clear {
  content: "";
  display: block;
  clear: both;
  float: none; }

.form-default {
  font-size: 16px; }
  .form-default hr {
    width: 100%;
    border-top: 1px solid #dedede; }
  .form-default fieldset {
    width: 100%;
    display: block;
    border: 0;
    padding: 0;
    margin-bottom: 12px; }
  .form-default > label {
    display: block;
    text-transform: capitalize;
    line-height: 36px; }
  .form-default select, .form-default input[type="text"], .form-default input[type="email"], .form-default input[type="number"], .form-default input[type="password"], .form-default input[type="search"], .form-default textarea {
    border: 1px solid #c5c5c5;
    padding: 6px 12px;
    border-radius: 16px;
    -o-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    display: block;
    width: 100%;
    margin-bottom: 6px; }
    .form-default select:hover, .form-default select:active, .form-default select:focus, .form-default input[type="text"]:hover, .form-default input[type="text"]:active, .form-default input[type="text"]:focus, .form-default input[type="email"]:hover, .form-default input[type="email"]:active, .form-default input[type="email"]:focus, .form-default input[type="number"]:hover, .form-default input[type="number"]:active, .form-default input[type="number"]:focus, .form-default input[type="password"]:hover, .form-default input[type="password"]:active, .form-default input[type="password"]:focus, .form-default input[type="search"]:hover, .form-default input[type="search"]:active, .form-default input[type="search"]:focus, .form-default textarea:hover, .form-default textarea:active, .form-default textarea:focus {
      border-color: #a8e6cf; }
  .form-default textarea {
    resize: none;
    height: 108px;
    border-radius: 16px;
    -o-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    width: 100%;
    font-family: Roboto, "Segoe UI", "open sans", arial, sans-serif; }
  .form-default select {
    cursor: pointer; }
  .form-default select.multiple {
    height: auto; }
  .form-default input[type="submit"], .form-default input[type="reset"], .form-default button {
    display: inline-block;
    border: 0;
    padding: 5px 8px;
    font-size: 16px; }
  .form-default input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative; }
  .form-default input[type=number] {
    -moz-appearance: textfield; }
  .form-default small {
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    line-height: 16px;
    margin: -8px 0 8px;
    color: #888; }
  .form-default .button.form {
    width: 100%;
    margin: 8px 0; }
  .form-default span.info {
    display: block;
    font-weight: 500;
    line-height: 28px; }
    .form-default span.info:last-child {
      margin-bottom: 12px; }

.checklist label {
  cursor: pointer;
  display: block;
  padding: 8px 0;
  margin: 4px 0; }
  .checklist label i.material-icons {
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    color: #dedede;
    float: left;
    margin-right: 8px; }
  .checklist label input[type="checkbox"] {
    display: none; }
    .checklist label input[type="checkbox"]:checked ~ i.material-icons {
      color: #4ef037; }

.input_fields_wrap {
  margin-left: 50px; }
  .input_fields_wrap > div {
    position: relative; }
    .input_fields_wrap > div p {
      position: absolute;
      left: -40px;
      top: -16px;
      color: #a8e6cf; }
    .input_fields_wrap > div a.remove_field {
      position: absolute;
      left: -40px;
      top: 40px; }

#user-profile {
  display: none; }
  #user-profile:checked ~ .side-menu {
    z-index: 89;
    left: 0; }
@media(min-width: 721px) {
  #user-profile:checked ~ .side-menu {
    right: 0;
    left: auto; }
    #user-profile:checked ~ .side-menu .base-layer {
      opacity: 1; } }
label.user-profile {
  margin: 0;
  padding-right: 48px;
  position: fixed;
  top: 16px;
  right: 16px;
  left: 16px;
  width: 100%;
  z-index: 89;
  border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px; }
  label.user-profile .user-profile-img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #a8e6cf;
    display: inline-block;
    overflow: hidd; }
  label.user-profile .user-profile-name {
    font-size: 16px;
    line-height: 40px; }
@media(min-width: 721px) {
  label.user-profile {
    padding-right: 16px;
    background-color: #ebf9f4;
    margin: 4px 16px;
    width: auto;
    top: 0;
    right: 0;
    left: auto; } }
.side-menu {
  width: 100%;
  position: fixed;
  top: 64px;
  left: -720px;
  bottom: 0;
  padding: 16px 0;
  background-color: #fafafa;
  z-index: -1; }
  .side-menu a {
    display: block;
    padding: 8px 16px; }
    .side-menu a:hover, .side-menu a:active, .side-menu a:focus {
      color: #a8e6cf; }
  .side-menu hr {
    margin: 16px;
    border-color: #dedede; }
@media(min-width: 721px) {
  .side-menu {
    text-align: center;
    width: 360px;
    left: auto;
    right: -360px; } }
.base-layer {
  transition: all 0.77s ease;
  -o-transition: all 0.77s ease;
  -ms-transition: all 0.77s ease;
  -moz-transition: all 0.77s ease;
  -webkit-transition: all 0.77s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 360px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 0; }

header {
  height: 68px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 88;
  box-shadow: 0 2px 1px 1px rgba(255, 255, 255, 0.168);
  -o-box-shadow: 0 2px 1px 1px rgba(255, 255, 255, 0.168);
  -ms-box-shadow: 0 2px 1px 1px rgba(255, 255, 255, 0.168);
  -moz-box-shadow: 0 2px 1px 1px rgba(255, 255, 255, 0.168);
  -webkit-box-shadow: 0 2px 1px 1px rgba(255, 255, 255, 0.168); }
  header nav {
    padding: 4px 16px; }
    header nav .button i.material-icons, header nav .button span {
      width: auto;
      height: 40px;
      line-height: 40px;
      text-align: center;
      min-width: 40px;
      float: left; }
    header nav .button span {
      margin-right: 16px;
      display: none; }
@media(min-width: 721px) {
  header {
    top: 0;
    height: 50px; }
    header nav .button i.material-icons, header nav .button span {
      display: inline-block; } }
.main {
  position: fixed;
  top: 68px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto; }
  .main .container {
    position: relative;
    padding: 16px; }
    .main .container:last-child {
      margin-bottom: 50px; }
  .main .section-title {
    text-transform: uppercase;
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 500; }
@media(min-width: 721px) {
  .main {
    bottom: 0;
    top: 50px; } }
table {
  font-size: 16px; }
  table.display {
    margin-bottom: 8px !important; }
  table p {
    margin: 0; }
  table tr, table td, table th {
    vertical-align: middle; }
  table .button.theme {
    padding: 4px 16px; }
    table .button.theme i.material-icons {
      float: left;
      font-size: 16px;
      margin-right: 8px; }

#table-document_wrapper, #table-templates_wrapper {
  padding-top: 16px;
  font-size: 16px; }
#table-document_filter, #table-templates_filter {
  float: left; }
  #table-document_filter input[type="search"], #table-templates_filter input[type="search"] {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding: 6px 12px;
    border: 1px solid #a8e6cf; }
#table-document_paginate, #table-document_info, #table-templates_paginate, #table-templates_info {
  font-size: 12px; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: none !important;
  border: 1px solid #a8e6cf !important;
  border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px; }

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #a8e6cf !important;
  border: 1px solid #a8e6cf !important;
  border-radius: 16px;
  -o-border-radius: 16px;
  -ms-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

/*# sourceMappingURL=morph.css.map */
